In [1]:
#import packages
import pandas as pd
import numpy as np

In [2]:
#load datasets
df1 = pd.read_csv('GDPData1.csv')

df2 = pd.read_csv('IsocodesMergedClean.csv')

In [3]:
#merge using outer method to check for matching errors
dfcheck = pd.merge(df1, df2, on='Alpha-3 code', how = 'outer')
dfcheck = dfcheck[['Alpha-3 code','Country', 'Country Name', 'YR2020', 'Percentage Difference']]

In [4]:
#check for errors
print(dfcheck.to_string())

    Alpha-3 code                                               Country                    Country Name         YR2020  Percentage Difference
0            ZWE                                              Zimbabwe                        Zimbabwe    2251.455674               2.017461
1            ZMB                                                Zambia                          Zambia    3457.328102              -0.738905
2            PSE                                    West Bank and Gaza                       Palestine    5698.412057              10.591544
3            VNM                                               Vietnam                         Vietnam   10904.452150             -34.854452
4            VUT                                               Vanuatu                         Vanuatu    3036.116767             -14.362728
5            UZB                                            Uzbekistan                      Uzbekistan    7746.430969             -16.622915
6            URY                                               Uruguay                         Uruguay   22728.215330              16.259484
7            USA                                         United States                             USA   63027.679530             -29.141106
8            GBR                                        United Kingdom                             NaN   46526.911870                    NaN
9            ARE                                  United Arab Emirates            United Arab Emirates   66766.053930              12.210922
10           UKR                                               Ukraine                         Ukraine   13087.309570              -6.525191
11           UGA                                                Uganda                          Uganda    2294.147984              26.923989
12           TUV                                                Tuvalu                             NaN    4791.679265                    NaN
13           TCA                              Turks and Caicos Islands        Turks and Caicos Islands   22283.977850              20.078125
14           TUR                                               Turkiye                         Turkiye   27235.425830               6.798723
15           TUN                                               Tunisia                         Tunisia   10878.823190              13.877946
16           TTO                                   Trinidad and Tobago             Trinidad and Tobago   26125.153290              -9.309616
17           TON                                                 Tonga                           Tonga    6693.785641             -41.734257
18           TGO                                                  Togo                            Togo    2223.316956              -0.717559
19           TLS                                           Timor-Leste                     Timor-Leste    4140.955070             -13.237449
20           THA                                              Thailand                        Thailand   18197.942410             -32.827649
21           TZA                                              Tanzania                        Tanzania    2779.683594              13.912881
22           TJK                                            Tajikistan                      Tajikistan    3854.190435              12.317021
23           CHE                                           Switzerland                     Switzerland   71745.299400              -9.493472
24           SWE                                                Sweden                          Sweden   55064.885010             -31.132631
25           SUR                                              Suriname                        Suriname   16733.382680              -1.577072
26           SDN                                                 Sudan                             NaN    4142.110840                    NaN
27           VCT                        St. Vincent and the Grenadines  St. Vincent and the Grenadines   13402.579540              -1.157484
28           LCA                                             St. Lucia                       St. Lucia   12708.794510              -1.692107
29           KNA                                   St. Kitts and Nevis             St. Kitts and Nevis   25639.239600              -1.284230
30           LKA                                             Sri Lanka                       Sri Lanka   13226.730060             -17.297789
31           ESP                                                 Spain                           Spain   37756.351000             -15.504418
32           ZAF                                          South Africa                    South Africa   13359.484330              -8.426937
33           SOM                                               Somalia                             NaN    1245.642283                    NaN
34           SLB                                       Solomon Islands                 Solomon Islands    2618.323702              -8.104818
35           SVN                                              Slovenia                        Slovenia   39725.259190             -11.983417
36           SVK                                       Slovak Republic                        Slovakia   31356.458280              -7.043104
37           SGP                                             Singapore                       Singapore   99681.294150              -8.362279
38           SLE                                          Sierra Leone                    Sierra Leone    1726.964157               8.191774
39           SYC                                            Seychelles                      Seychelles   28338.977140              -2.807735
40           SRB                                                Serbia                          Serbia   19093.955310              -5.237072
41           SEN                                               Senegal                         Senegal    3503.595017              20.588291
42           SAU                                          Saudi Arabia                             NaN   46778.298370                    NaN
43           STP                                 Sao Tome and Principe                             NaN    4273.493420                    NaN
44           SMR                                            San Marino                             NaN   59571.906800                    NaN
45           WSM                                                 Samoa                           Samoa    6764.559991             -35.532172
46           RWA                                                Rwanda                          Rwanda    2213.568598              18.279698
47           RUS                                    Russian Federation                          Russia   29916.013670             -14.973685
48           ROU                                               Romania                         Romania   32202.208660             -10.257452
49           QAT                                                 Qatar                             NaN   89961.433230                    NaN
50           PRI                                           Puerto Rico                     Puerto Rico   34333.747250             -21.799819
51           PRT                                              Portugal                        Portugal   34177.085710              -0.560570
52           POL                                                Poland                          Poland   34286.985080              -6.580088
53           PHL                                           Philippines                     Philippines    8394.242258             -32.711881
54           PER                                                  Peru                            Peru   11908.060700              14.579706
55           PRY                                              Paraguay                        Paraguay   13034.716540              -4.888448
56           PNG                                      Papua New Guinea                Papua New Guinea    4285.765475             -51.606856
57           PAN                                                Panama                          Panama   26780.300600              -2.618641
58           PLW                                                 Palau                             NaN   16318.678950                    NaN
59           PAK                                              Pakistan                             NaN    5426.019788                    NaN
60           OMN                                                  Oman                             NaN   31117.757710                    NaN
61           NOR                                                Norway                          Norway   62644.845740             -26.964805
62           MKD                                       North Macedonia                 North Macedonia   16719.690100              21.289994
63           NGA                                               Nigeria                         Nigeria    5185.988584              -2.019672
64           NER                                                 Niger                           Niger    1288.153512              24.003878
65           NIC                                             Nicaragua                       Nicaragua    5573.868729              -7.269408
66           NZL                                           New Zealand                     New Zealand   44657.773720             -45.287583
67           NLD                                           Netherlands                     Netherlands   59266.908580             -19.267481
68           NPL                                                 Nepal                           Nepal    3996.665470             -25.911936
69           NRU                                                 Nauru                             NaN   14337.265410                    NaN
70           NAM                                               Namibia                         Namibia    9358.537168              12.335392
71           MMR                                               Myanmar                         Myanmar    5123.407709             -50.008400
72           MOZ                                            Mozambique                      Mozambique    1297.298716              30.055517
73           MAR                                               Morocco                         Morocco    7368.891602              15.589566
74           MNE                                            Montenegro                      Montenegro   19989.653670               7.626662
75           MNG                                              Mongolia                        Mongolia   12365.938480             -21.717476
76           MDA                                               Moldova                         Moldova   12941.892780             -23.888842
77           FSM                                 Micronesia, Fed. Sts.                             NaN    3552.596037                    NaN
78           MEX                                                Mexico                          Mexico   18670.810400               1.250023
79           MUS                                             Mauritius                       Mauritius   20528.833650              61.013712
80           MRT                                            Mauritania                             NaN    5389.646488                    NaN
81           MHL                                      Marshall Islands                             NaN    4147.097245                    NaN
82           MLT                                                 Malta                           Malta   43243.172650             -26.297862
83           MLI                                                  Mali                            Mali    2347.796674              11.757041
84           MDV                                              Maldives                        Maldives   13442.386150               6.434569
85           MYS                                              Malaysia                        Malaysia   27921.410950             -16.485595
86           MWI                                                Malawi                          Malawi    1591.475591              17.655075
87           MDG                                            Madagascar                      Madagascar    1543.952938              42.116638
88           MAC                                      Macao SAR, China                             NaN   60890.549060                    NaN
89           LUX                                            Luxembourg                      Luxembourg  117846.136500               6.845778
90           LTU                                             Lithuania                       Lithuania   38880.545270             -13.539960
91           LBY                                                 Libya                             NaN   17286.368140                    NaN
92           LBR                                               Liberia                         Liberia    1468.245239              15.214269
93           LSO                                               Lesotho                         Lesotho    2569.337741              20.670812
94           LBN                                               Lebanon                         Lebanon   11376.793980              14.812125
95           LVA                                                Latvia                          Latvia   31424.902210              -3.830774
96           LAO                                               Lao PDR                            Laos    8238.494568             -37.535259
97           KGZ                                       Kyrgyz Republic                 Kyrgyz Republic    4985.029555               9.110154
98           KWT                                                Kuwait                             NaN   47303.129850                    NaN
99           XKX                                                Kosovo                             NaN   11292.862650                    NaN
100          KOR                                           Korea, Rep.                  Korea Republic   45225.844540             -21.236288
101          KIR                                              Kiribati                             NaN    2171.867943                    NaN
102          KEN                                                 Kenya                           Kenya    4587.186320              17.507028
103          KAZ                                            Kazakhstan                      Kazakhstan   26750.446230              -5.832219
104          JOR                                                Jordan                          Jordan   10354.164030              -7.634363
105          JPN                                                 Japan                           Japan   42100.257690             -23.308827
106          JAM                                               Jamaica                         Jamaica    9240.821869             -11.712227
107          ITA                                                 Italy                           Italy   41987.815960              -9.010654
108          ISR                                                Israel                          Israel   39489.280780              -3.721655
109          IRL                                               Ireland             Republic of Ireland   93350.087530             -17.523986
110          IRQ                                                  Iraq                             NaN    9954.345263                    NaN
111          IRN                                    Iran, Islamic Rep.                         IR Iran   15791.159510              12.440974
112          IDN                                             Indonesia                       Indonesia   12072.439960             -18.625575
113          IND                                                 India                           India    6525.428052             -18.926292
114          ISL                                               Iceland                         Iceland   53616.684710             -35.593392
115          HUN                                               Hungary                         Hungary   33274.347660              -3.469962
116          HKG                                  Hong Kong SAR, China                       Hong Kong   58980.011050             -24.186249
117          HND                                              Honduras                        Honduras    5419.792164              11.848210
118          HTI                                                 Haiti                           Haiti    3094.941621             -13.918854
119          GUY                                                Guyana                          Guyana   19702.974420             -28.803394
120          GNB                                         Guinea-Bissau                   Guinea-Bissau    1948.643401              28.343329
121          GIN                                                Guinea                          Guinea    2754.418384              16.706438
122          GTM                                             Guatemala                       Guatemala    8852.947743              -8.410789
123          GRD                                               Grenada                         Grenada   15273.540360              12.366357
124          GRC                                                Greece                          Greece   27948.649730               2.229699
125          GHA                                                 Ghana                           Ghana    5749.655385              -1.672085
126          DEU                                               Germany                         Germany   54844.545970             -24.159112
127          GEO                                               Georgia                         Georgia   14731.200590              13.758234
128          GMB                                           Gambia, The                          Gambia    2276.650708               1.180690
129          GAB                                                 Gabon                           Gabon   15105.134310              17.050482
130          FRA                                                France                          France   46991.182030             -15.459671
131          FIN                                               Finland                         Finland   50937.160750             -19.366995
132          FJI                                                  Fiji                            Fiji   12158.243310             -35.456074
133          ETH                                              Ethiopia                        Ethiopia    2422.681026              -2.700617
134          SWZ                                              Eswatini                        Eswatini    8865.017138              24.559012
135          EST                                               Estonia                         Estonia   37645.221360              -0.249703
136          GNQ                                     Equatorial Guinea               Equatorial Guinea   18157.513670             -10.625921
137          SLV                                           El Salvador                     El Salvador    8419.799438              13.843477
138          EGY                                      Egypt, Arab Rep.                           Egypt   12605.975740              17.164094
139          ECU                                               Ecuador                         Ecuador   10890.456640               5.869212

In [5]:
#remove countries without data
df = dfcheck.dropna()

In [6]:
df.head()

,Alpha-3 code,Country,Country Name,YR2020,Percentage Difference
0,ZWE,Zimbabwe,Zimbabwe,2251.455674,2.017461
1,ZMB,Zambia,Zambia,3457.328102,-0.738905
2,PSE,West Bank and Gaza,Palestine,5698.412057,10.591544
3,VNM,Vietnam,Vietnam,10904.452150,-34.854452
4,VUT,Vanuatu,Vanuatu,3036.116767,-14.362728

In [12]:
#remove second country name column
df = df.drop('Country', axis = 1)

In [13]:
#rename GDP per capita column
df.columns = ['GDP per Capita' if x=='YR2020' else x for x in df.columns]

In [14]:
df.head()

  Alpha-3 code Country Name  GDP per Capita  Percentage Difference
0          ZWE     Zimbabwe     2251.455674               2.017461
1          ZMB       Zambia     3457.328102              -0.738905
2          PSE    Palestine     5698.412057              10.591544
3          VNM      Vietnam    10904.452150             -34.854452
4          VUT      Vanuatu     3036.116767             -14.362728

In [15]:
#download csv
df.to_csv('GDPPercendDiff.csv', index = False)

In [16]:
#format data for regression
X = df['Percentage Difference'].values[:, np.newaxis]

y = df['GDP per Capita'].values

In [17]:
#perform regression
import statsmodels.api as sm


x2 = sm.add_constant(X)

model = sm.OLS(y, x2).fit()
predictions = model.predict(x2)



model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.091
Model:                            OLS   Adj. R-squared:                  0.085
Method:                 Least Squares   F-statistic:                     16.04
Date:                Wed, 14 Dec 2022   Prob (F-statistic):           9.46e-05
Time:                        10:38:58   Log-Likelihood:                -1848.4
No. Observations:                 163   AIC:                             3701.
Df Residuals:                     161   BIC:                             3707.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       2.066e+04   1620.731     12.745      0.000    1.75e+04    2.39e+04
x1          -341.1183     85.179     -4.005      0.000    -509.330    -172.907
==============================================================================
Omnibus:                       67.128   Durbin-Watson:                   1.716
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              198.367
Skew:                           1.681   Prob(JB):                     8.42e-44
Kurtosis:                       7.231   Cond. No.                         19.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""