In [1]:
#import packages
import pandas as pd
import numpy as np

In [2]:
#load datasets
df1 = pd.read_csv('GenderInequalityData - Sheet1.csv')

df2 = pd.read_csv('IsocodesMergedClean.csv')

In [3]:
#merge using outer method to check for matching errors
dfcheck = pd.merge(df1, df2, on = 'Country Name', how = 'outer')

In [4]:
#check for matching errors
print(dfcheck.to_string())

                            Country Name  Gender Inequality Index  Mens Points  Womens Points Alpha-3 code  Percentage Difference
0                            Switzerland                    0.018      1621.43        1775.36          CHE              -9.493472
1                                 Norway                    0.016      1488.57        1889.96          NOR             -26.964805
2                                Iceland                    0.043      1379.61        1870.66          ISL             -35.593392
3                 Hong Kong, China (SAR)                      NaN          NaN            NaN          NaN                    NaN
4                              Australia                    0.073      1483.73        1906.20          AUS             -28.473509
5                                Denmark                    0.013      1665.47        1855.49          DNK             -11.409392
6                                 Sweden                    0.023      1563.44        2050.18          SWE             -31.132631
7                                Ireland                    0.074          NaN            NaN          NaN                    NaN
8                                Germany                    0.073      1658.96        2059.75          DEU             -24.159112
9                            Netherlands                    0.025      1679.41        2002.99          NLD             -19.267481
10                               Finland                    0.033      1398.41        1669.24          FIN             -19.366995
11                             Singapore                    0.040      1004.75        1088.77          SGP              -8.362279
12                               Belgium                    0.048      1821.92        1823.83          BEL              -0.104834
13                           New Zealand                    0.088      1198.96        1741.94          NZL             -45.287583
14                                Canada                    0.069      1473.82        1986.51          CAN             -34.786473
15                         Liechtenstein                      NaN          NaN            NaN          NaN                    NaN
16                            Luxembourg                    0.044      1235.36        1150.79          LUX               6.845778
17                        United Kingdom                    0.098          NaN            NaN          NaN                    NaN
18                                 Japan                    0.083      1554.69        1917.07          JPN             -23.308827
19                   Korea (Republic of)                    0.067          NaN            NaN          NaN                    NaN
20                         United States                    0.179          NaN            NaN          NaN                    NaN
21                                Israel                    0.083      1316.35        1365.34          ISR              -3.721655
22                                 Malta                    0.167       974.68        1231.00          MLT             -26.297862
23                              Slovenia                    0.071      1372.48        1536.95          SVN             -11.983417
24                               Austria                    0.053      1502.47        1813.37          AUT             -20.692593
25                  United Arab Emirates                    0.049      1346.09        1181.72          ARE              12.210922
26                                 Spain                    0.057      1716.93        1983.13          ESP             -15.504418
27                                France                    0.083      1764.85        2037.69          FRA             -15.459671
28                                Cyprus                    0.123      1180.52        1123.46          CYP               4.833463
29                                 Italy                    0.056      1713.86        1868.29          ITA              -9.010654
30                               Estonia                    0.100      1177.40        1180.34          EST              -0.249703
31                               Czechia                    0.120      1502.90        1675.21          CZE             -11.465167
32                                Greece                    0.119      1441.45        1409.31          GRC               2.229699
33                                Poland                    0.109      1546.18        1647.92          POL              -6.580088
34                               Bahrain                    0.181      1289.25        1254.12          BHR               2.724840
35                             Lithuania                    0.105      1074.08        1219.51          LTU             -13.539960
36                          Saudi Arabia                    0.247          NaN            NaN          NaN                    NaN
37                              Portugal                    0.067      1678.65        1688.06          PRT              -0.560570
38                                Latvia                    0.151      1125.36        1168.47          LVA              -3.830774
39                               Andorra                      NaN      1028.70         751.46          AND              26.950520
40                               Croatia                    0.093      1632.15        1404.39          HRV              13.954600
41                                 Chile                    0.187      1514.86        1580.90          CHL              -4.359479
42                                 Qatar                    0.220          NaN            NaN          NaN                    NaN
43                            San Marino                      NaN          NaN            NaN          NaN                    NaN
44                              Slovakia                    0.180      1439.99        1541.41          SVK              -7.043104
45                               Hungary                    0.221      1486.76        1538.35          HUN              -3.469962
46                             Argentina                    0.287      1770.65        1660.37          ARG               6.228221
47                               TÃ¼rkiye                    0.272          NaN            NaN          NaN                    NaN
48                            Montenegro                    0.119      1354.59        1251.28          MNE               7.626662
49                                Kuwait                    0.305          NaN            NaN          NaN                    NaN
50                     Brunei Darussalam                    0.259          NaN            NaN          NaN                    NaN
51                    Russian Federation                    0.203          NaN            NaN          NaN                    NaN
52                               Romania                    0.282      1427.84        1574.30          ROU             -10.257452
53                                  Oman                    0.300          NaN            NaN          NaN                    NaN
54                               Bahamas                    0.329          NaN            NaN          NaN                    NaN
55                            Kazakhstan                    0.161      1166.28        1234.30          KAZ              -5.832219
56                   Trinidad and Tobago                    0.344      1205.85        1318.11          TTO              -9.309616
57                            Costa Rica                    0.256      1500.06        1612.44          CRI              -7.491700
58                               Uruguay                    0.235      1640.95        1374.14          URY              16.259484
59                               Belarus                    0.104      1226.55        1457.75          BLR             -18.849619
60                                Panama                    0.392      1389.27        1425.65          PAN              -2.618641
61                              Malaysia                    0.228      1057.59        1231.94          MYS             -16.485595
62                               Georgia                    0.280      1296.46        1118.09          GEO              13.758234
63                             Mauritius                    0.347       932.02         363.36          MUS              61.013712
64                                Serbia                    0.131      1549.53        1630.68          SRB              -5.237072
65                              Thailand                    0.333      1170.69        1555.00          THA             -32.827649
66                               Albania                    0.144      1361.81        1346.01          ALB               1.160221
67                              Bulgaria                    0.210      1325.16        1229.79          BGR               7.196867
68                               Grenada                      NaN       969.00         849.17          GRD              12.366357
69                              Barbados                    0.268       982.27         966.80          BRB               1.574923
70                   Antigua and Barbuda                      NaN      1117.01         804.42          ATG              27.984530
71                            Seychelles                      NaN       860.48         884.64          SYC              -2.807735
72                             Sri Lanka                    0.383       825.25         968.00          LKA             -17.297789
73                Bosnia and Herzegovina                    0.136      1403.98        1385.20          BIH               1.337626
74                 Saint Kitts and Nevis                      NaN          NaN            NaN          NaN                    NaN
75            Iran (Islamic Republic of)                    0.459          NaN            NaN          NaN                    NaN
76                               Ukraine                    0.200      1542.79        1643.46          UKR              -6.525191
77                       North Macedonia                    0.134      1375.20        1082.42          MKD              21.289994
78                                 China                    0.192          NaN            NaN          NaN                    NaN
79                    Dominican Republic                    0.429      1031.86        1173.44          DOM             -13.720854
80                 Moldova (Republic of)                    0.205          NaN            NaN          NaN                    NaN
81                                 Palau                      NaN          NaN            NaN          NaN                    NaN
82                                  Cuba                    0.303       978.65        1217.56          CUB             -24.412200
83                                  Peru                    0.380      1562.24        1334.47          PER              14.579706
84                               Armenia                    0.216      1242.42        1072.97          ARM              13.638705
85                                Mexico                    0.309      1649.57        1628.95          MEX               1.250023
86                                Brazil                    0.390      1837.56        1975.82          BRA              -7.524108
87                              Colombia                    0.424      1604.07        1700.40          COL              -6.005349
88      Saint Vincent and the Grenadines                    0.390          NaN            NaN          NaN                    NaN
89                              Maldives                    0.348      1018.25         952.73          MDV               6.434569
90                               Algeria                    0.499      1480.59        1288.27          DZA              12.989416
91                            Azerbaijan                    0.294      1127.17        1274.50          AZE             -13.070788
92                                 Tonga                    0.631       861.81        1221.48          TON             -41.734257
93                          Turkmenistan                    0.177      1100.47        1075.41          TKM               2.277209
94                               Ecuador                    0.362      1463.74        1377.83          ECU               5.869212
95                              Mongolia                    0.313       913.55        1111.95          MNG             -21.717476
96                                 Egypt                    0.443      1482.63        1228.15          EGY              17.164094
97                               Tunisia                    0.259      1507.86        1298.60          TUN              13.877946
98                                  Fiji                    0.318       993.37        1345.58          FJI             -35.456074
99                              Suriname                    0.427      1072.24        1089.15          SUR              -1.577072
100                           Uzbekistan                    0.227      1306.63        1523.83          UZB             -16.622915
101                             Dominica                      NaN       911.51         910.74          DMA               0.084475
102                               Jordan                    0.471      1279.74        1377.44          JOR              -7.634363
103                                Libya                    0.259          NaN            NaN          NaN                    NaN
104                             Paraguay                    0.445      1440.13        1510.53          PRY              -4.888448
105                  Palestine, State of                      NaN          NaN            NaN          NaN                    NaN
106                          Saint Lucia                    0.381          NaN            NaN          NaN                    NaN
107                               Guyana                    0.454       968.74        1247.77          GUY             -28.803394
108                         South Africa                    0.405      1350.55        1464.36          ZAF              -8.426937
109                              Jamaica                    0.335      1382.06        1543.93          JAM             -11.712227
110                                Samoa                    0.418       894.26        1212.01          WSM             -35.532172
111                                Gabon                    0.541      1301.84        1079.87          GAB              17.050482
112                              Lebanon                    0.432      1211.71        1032.23          LBN              14.812125
113                            Indonesia                    0.444      1019.19        1209.02          IDN             -18.625575
114                             Viet Nam                    0.296          NaN            NaN          NaN                    NaN
115                          Philippines                    0.419      1115.13        1479.91          PHL             -32.711881
116                             Botswana                    0.468      1060.17         979.35          BWA               7.623306
117     Bolivia (Plurinational State of)                    0.418          NaN            NaN          NaN                    NaN
118                           Kyrgyzstan                    0.370          NaN            NaN          NaN                    NaN
119   Venezuela (Bolivarian Republic of)                    0.492          NaN            NaN          NaN                    NaN
120                                 Iraq                    0.558          NaN            NaN          NaN                    NaN
121                           Tajikistan                    0.285      1179.10        1033.87          TJK              12.317021
122                               Belize                    0.364       950.88         839.85          BLZ              11.676552
123                              Morocco                    0.425      1558.35        1315.41          MAR              15.589566
124                          El Salvador                    0.376      1333.48        1148.88          SLV              13.843477
125                            Nicaragua                    0.424      1079.18        1157.63          NIC              -7.269408
126                               Bhutan                    0.415       910.96         769.00          BTN              15.583560
127                           Cabo Verde                    0.349          NaN            NaN          NaN                    NaN
128                           Bangladesh                    0.530       883.18        1017.16          BGD             -15.170180
129                               Tuvalu                      NaN          NaN            NaN          NaN                    NaN
130                     Marshall Islands                      NaN          NaN            NaN          NaN                    NaN
131                                India                    0.490      1198.65        1425.51          IND             -18.926292
132                                Ghana                    0.529      1393.47        1416.77          GHA              -1.672085
133     Micronesia (Federated States of)                      NaN          NaN            NaN          NaN                    NaN
134                            Guatemala                    0.481      1161.96        1259.69          GTM              -8.410789
135                             Kiribati                      NaN          NaN            NaN          NaN                    NaN
136                             Honduras                    0.431      1299.69        1145.70          HND              11.848210
137                Sao Tome and Principe                    0.494          NaN            NaN          NaN                    NaN
138                              Namibia                    0.445      1164.13        1020.53          NAM              12.335392
139     Lao People's Democratic Republic                    0.478          NaN            NaN          NaN                    NaN
140                          Timor-Leste                    0.378       860.06         973.91          TLS             -13.237449
141                              Vanuatu                      NaN       990.55        1132.82          VUT             -14.362728
142                                Nepal                    0.452       950.45        1196.73          NPL             -25.911936
143                Eswatini (Kingdom of)                    0.540          NaN            NaN          NaN                    NaN
144                    Equatorial Guinea                      NaN      1215.33        1344.47          GNQ             -10.625921
145                             Cambodia                    0.461       954.30        1142.14          KHM             -19.683538
146                             Zimbabwe                    0.532      1138.56        1115.59          ZWE               2.017461
147                               Angola                    0.537      1149.08        1041.91          AGO               9.326592
148                              Myanmar                    0.498      1011.91        1517.95          MMR             -50.008400
149                 Syrian Arab Republic                    0.477          NaN            NaN          NaN                    NaN
150                             Cameroon                    0.565      1484.95        1417.44          CMR               4.546281
151                                Kenya                    0.506      1202.26         991.78          KEN              17.507028

In [6]:
#download csv to correct errors in excel
dfcheck.to_csv('GenderInequalityMatch.csv')

In [8]:
#load cleaned dataset
df3 = pd.read_csv('GenderInequalityDataCleaned.csv')

In [9]:
#merge again
df = pd.merge(df2, df3, on = 'Country Name', how = 'outer')

In [10]:
#double check for any remaining errors
print(df.to_string())

                         Country Name  Mens Points  Womens Points Alpha-3 code  Percentage Difference  Gender Inequality Index
0                             Albania      1361.81        1346.01          ALB               1.160221                    0.144
1                             Algeria      1480.59        1288.27          DZA              12.989416                    0.499
2                      American Samoa       900.27        1030.00          ASM             -14.410121                      NaN
3                             Andorra      1028.70         751.46          AND              26.950520                      NaN
4                              Angola      1149.08        1041.91          AGO               9.326592                    0.537
5                            Anguilla       790.74         687.55          AIA              13.049801                      NaN
6                 Antigua and Barbuda      1117.01         804.42          ATG              27.984530                      NaN
7                           Argentina      1770.65        1660.37          ARG               6.228221                    0.287
8                             Armenia      1242.42        1072.97          ARM              13.638705                    0.216
9                               Aruba       855.37         728.86          ABW              14.790091                      NaN
10                          Australia      1483.73        1906.20          AUS             -28.473509                    0.073
11                            Austria      1502.47        1813.37          AUT             -20.692593                    0.053
12                         Azerbaijan      1127.17        1274.50          AZE             -13.070788                    0.294
13                            Bahrain      1289.25        1254.12          BHR               2.724840                    0.181
14                         Bangladesh       883.18        1017.16          BGD             -15.170180                    0.530
15                           Barbados       982.27         966.80          BRB               1.574923                    0.268
16                            Belarus      1226.55        1457.75          BLR             -18.849619                    0.104
17                            Belgium      1821.92        1823.83          BEL              -0.104834                    0.048
18                             Belize       950.88         839.85          BLZ              11.676552                    0.364
19                              Benin      1258.71        1020.94          BEN              18.889975                    0.602
20                            Bermuda       977.47        1007.55          BMU              -3.077332                      NaN
21                             Bhutan       910.96         769.00          BTN              15.583560                    0.415
22                            Bolivia      1298.81        1213.10          BOL               6.599118                    0.418
23             Bosnia and Herzegovina      1403.98        1385.20          BIH               1.337626                    0.136
24                           Botswana      1060.17         979.35          BWA               7.623306                    0.468
25                             Brazil      1837.56        1975.82          BRA              -7.524108                    0.390
26                           Bulgaria      1325.16        1229.79          BGR               7.196867                    0.210
27                       Burkina Faso      1425.64        1050.87          BFA              26.287843                    0.621
28                            Burundi      1076.26         799.08          BDI              25.754000                    0.505
29                           Cambodia       954.30        1142.14          KHM             -19.683538                    0.461
30                           Cameroon      1484.95        1417.44          CMR               4.546281                    0.565
31                             Canada      1473.82        1986.51          CAN             -34.786473                    0.069
32                     Cayman Islands       865.72         854.05          CYM               1.348011                      NaN
33                              Chile      1514.86        1580.90          CHL              -4.359479                    0.187
34                           China PR      1305.06        1862.87          CHN             -42.742096                    0.192
35                             Taiwan      1017.78        1581.20          TWN             -55.357739                      NaN
36                           Colombia      1604.07        1700.40          COL              -6.005349                    0.424
37                            Comoros      1127.44         733.00          COM              34.985454                      NaN
38                              Congo      1215.09        1161.46          COG               4.413665                    0.564
39                           Congo DR      1332.84        1159.00          COD              13.042826                    0.601
40                       Cook Islands       899.33        1174.93          COK             -30.645036                      NaN
41                         Costa Rica      1500.06        1612.44          CRI              -7.491700                    0.256
42                      Cote d'Ivoire      1435.91        1379.39          CIV               3.936180                    0.613
43                            Croatia      1632.15        1404.39          HRV              13.954600                    0.093
44                               Cuba       978.65        1217.56          CUB             -24.412200                    0.303
45                             Cyprus      1180.52        1123.46          CYP               4.833463                    0.123
46                            Czechia      1502.90        1675.21          CZE             -11.465167                    0.120
47                            Denmark      1665.47        1855.49          DNK             -11.409392                    0.013
48                           Dominica       911.51         910.74          DMA               0.084475                      NaN
49                 Dominican Republic      1031.86        1173.44          DOM             -13.720854                    0.429
50                            Ecuador      1463.74        1377.83          ECU               5.869212                    0.362
51                              Egypt      1482.63        1228.15          EGY              17.164094                    0.443
52                        El Salvador      1333.48        1148.88          SLV              13.843477                    0.376
53                  Equatorial Guinea      1215.33        1344.47          GNQ             -10.625921                      NaN
54                            Estonia      1177.40        1180.34          EST              -0.249703                    0.100
55                           Eswatini      1070.89         807.89          SWZ              24.559012                    0.540
56                           Ethiopia      1088.27        1117.66          ETH              -2.700617                    0.520
57                      Faroe Islands      1136.29        1211.40          FRO              -6.610108                      NaN
58                               Fiji       993.37        1345.58          FJI             -35.456074                    0.318
59                            Finland      1398.41        1669.24          FIN             -19.366995                    0.033
60                             France      1764.85        2037.69          FRA             -15.459671                    0.083
61                              Gabon      1301.84        1079.87          GAB              17.050482                    0.541
62                             Gambia      1137.47        1124.04          GMB               1.180690                    0.611
63                            Georgia      1296.46        1118.09          GEO              13.758234                    0.280
64                            Germany      1658.96        2059.75          DEU             -24.159112                    0.073
65                              Ghana      1393.47        1416.77          GHA              -1.672085                    0.529
66                             Greece      1441.45        1409.31          GRC               2.229699                    0.119
67                            Grenada       969.00         849.17          GRD              12.366357                      NaN
68                               Guam       838.33        1218.07          GUM             -45.297198                      NaN
69                          Guatemala      1161.96        1259.69          GTM              -8.410789                    0.481
70                             Guinea      1294.89        1078.56          GIN              16.706438                    0.621
71                      Guinea-Bissau      1165.53         835.18          GNB              28.343329                    0.627
72                             Guyana       968.74        1247.77          GUY             -28.803394                    0.454
73                              Haiti      1269.07        1445.71          HTI             -13.918854                    0.635
74                           Honduras      1299.69        1145.70          HND              11.848210                    0.431
75                          Hong Kong      1058.37        1314.35          HKG             -24.186249                      NaN
76                            Hungary      1486.76        1538.35          HUN              -3.469962                    0.221
77                            Iceland      1379.61        1870.66          ISL             -35.593392                    0.043
78                              India      1198.65        1425.51          IND             -18.926292                    0.490
79                          Indonesia      1019.19        1209.02          IDN             -18.625575                    0.444
80                            IR Iran      1558.64        1364.73          IRN              12.440974                    0.459
81                             Israel      1316.35        1365.34          ISR              -3.721655                    0.083
82                              Italy      1713.86        1868.29          ITA              -9.010654                    0.056
83                            Jamaica      1382.06        1543.93          JAM             -11.712227                    0.335
84                              Japan      1554.69        1917.07          JPN             -23.308827                    0.083
85                             Jordan      1279.74        1377.44          JOR              -7.634363                    0.471
86                         Kazakhstan      1166.28        1234.30          KAZ              -5.832219                    0.161
87                              Kenya      1202.26         991.78          KEN              17.507028                    0.506
88                          Korea DPR      1169.96        1940.00          PRK             -65.817635                      NaN
89                     Korea Republic      1526.02        1850.09          KOR             -21.236288                    0.067
90                    Kyrgyz Republic      1232.91        1120.59          KGZ               9.110154                    0.370
91                               Laos       914.66        1257.98          LAO             -37.535259                    0.478
92                             Latvia      1125.36        1168.47          LVA              -3.830774                    0.151
93                            Lebanon      1211.71        1032.23          LBN              14.812125                    0.432
94                            Lesotho      1061.40         842.00          LSO              20.670812                    0.557
95                            Liberia      1051.25         891.31          LBR              15.214269                    0.648
96                          Lithuania      1074.08        1219.51          LTU             -13.539960                    0.105
97                         Luxembourg      1235.36        1150.79          LUX               6.845778                    0.044
98                         Madagascar      1193.78         691.00          MDG              42.116638                    0.556
99                             Malawi      1144.77         942.66          MWI              17.655075                    0.554
100                          Malaysia      1057.59        1231.94          MYS             -16.485595                    0.228
101                          Maldives      1018.25         952.73          MDV               6.434569                    0.348
102                              Mali      1442.88        1273.24          MLI              11.757041                    0.613
103                             Malta       974.68        1231.00          MLT             -26.297862                    0.167
104                         Mauritius       932.02         363.36          MUS              61.013712                    0.347
105                            Mexico      1649.57        1628.95          MEX               1.250023                    0.309
106                           Moldova       944.96        1170.70          MDA             -23.888842                    0.205
107                          Mongolia       913.55        1111.95          MNG             -21.717476                    0.313
108                        Montenegro      1354.59        1251.28          MNE               7.626662                    0.119
109                           Morocco      1558.35        1315.41          MAR              15.589566                    0.425
110                        Mozambique      1165.41         815.14          MOZ              30.055517                    0.537
111                           Myanmar      1011.91        1517.95          MMR             -50.008400                    0.498
112                           Namibia      1164.13        1020.53          NAM              12.335392                    0.445
113                             Nepal       950.45        1196.73          NPL             -25.911936                    0.452
114                       Netherlands      1679.41        2002.99          NLD             -19.267481                    0.025
115                     New Caledonia       999.70        1175.63          NCL             -17.598279                      NaN
116                       New Zealand      1198.96        1741.94          NZL             -45.287583                    0.088
117                         Nicaragua      1079.18        1157.63          NIC              -7.269408                    0.424
118                             Niger      1155.23         877.93          NER              24.003878                    0.611
119                           Nigeria      1504.70        1535.09          NGA              -2.019672                    0.680
120                   North Macedonia      1375.20        1082.42          MKD              21.289994                    0.134
121                            Norway      1488.57        1889.96          NOR             -26.964805                    0.016
122                         Palestine      1233.72        1103.05          PSE              10.591544                      NaN
123                            Panama      1389.27        1425.65          PAN              -2.618641                    0.392
124                  Papua New Guinea       997.60        1512.43          PNG             -51.606856                    0.725
125                          Paraguay      1440.13        1510.53          PRY              -4.888448                    0.445
126                              Peru      1562.24        1334.47          PER              14.579706                    0.380
127                       Philippines      1115.13        1479.91          PHL             -32.711881                    0.419
128                            Poland      1546.18        1647.92          POL              -6.580088                    0.109
129                          Portugal      1678.65        1688.06          PRT              -0.560570                    0.067
130                       Puerto Rico       974.32        1186.72          PRI             -21.799819                      NaN
131               Republic of Ireland      1442.48        1695.26          IRL             -17.523986                    0.074
132                           Romania      1427.84        1574.30          ROU             -10.257452                    0.282
133                            Russia      1493.42        1717.04          RUS             -14.973685                    0.203
134                            Rwanda      1095.04         894.87          RWA              18.279698                    0.388
135                             Samoa       894.26        1212.01          WSM             -35.532172                    0.418
136                           Senegal      1584.59        1258.35          SEN              20.588291                    0.530
137                            Serbia      1549.53        1630.68          SRB              -5.237072                    0.131
138                        Seychelles       860.48         884.64          SYC              -2.807735                      NaN
139                      Sierra Leone      1169.71        1073.89          SLE               8.191774                    0.633
140                         Singapore      1004.75        1088.77          SGP              -8.362279                    0.040
141                          Slovakia      1439.99        1541.41          SVK              -7.043104                    0.180
142                          Slovenia      1372.48        1536.95          SVN             -11.983417                    0.071
143                   Solomon Islands      1092.56        1181.11          SLB              -8.104818                      NaN
144                      South Africa      1350.55        1464.36          ZAF              -8.426937                    0.405
145                       South Sudan       983.99         649.69          SSD              33.973923                    0.587
146                             Spain      1716.93        1983.13          ESP             -15.504418                    0.057
147                         Sri Lanka       825.25         968.00          LKA             -17.297789                    0.383
148               St. Kitts and Nevis      1076.91        1090.74          KNA              -1.284230                      NaN
149                         St. Lucia       965.66         982.00          LCA              -1.692107                    0.381
150    St. Vincent and the Grenadines       939.97         950.85          VCT              -1.157484                    0.390
151                          Suriname      1072.24        1089.15          SUR              -1.577072                    0.427
152                            Sweden      1563.44        2050.18          SWE             -31.132631                    0.023
153                       Switzerland      1621.43        1775.36          CHE              -9.493472                    0.018
154                        Tajikistan      1179.10        1033.87          TJK              12.317021                    0.285
155                          Tanzania      1121.91         965.82          TZA              13.912881                    0.560

In [11]:
#remove Countries without data
df = df.dropna()

In [12]:
df.head()

,Country Name,Mens Points,Womens Points,Alpha-3 code,Percentage Difference,Gender Inequality Index
0,Albania,1361.81,1346.01,ALB,1.160221,0.144
1,Algeria,1480.59,1288.27,DZA,12.989416,0.499
4,Angola,1149.08,1041.91,AGO,9.326592,0.537
7,Argentina,1770.65,1660.37,ARG,6.228221,0.287
8,Armenia,1242.42,1072.97,ARM,13.638705,0.216

In [13]:
#check shape
df.shape

(151, 6)

In [14]:
#download csv
df.to_csv('GenderPercentDiff.csv', index = False)

In [12]:
#format data for regression
X = df['Percentage Difference'].values[:, np.newaxis]

y = df['Gender Inequality Index'].values

In [13]:
#perform regression
import statsmodels.api as sm

x2 = sm.add_constant(X)

model = sm.OLS(y, x2).fit()
predictions = model.predict(x2)




model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.112
Model:                            OLS   Adj. R-squared:                  0.106
Method:                 Least Squares   F-statistic:                     18.85
Date:                Mon, 12 Dec 2022   Prob (F-statistic):           2.60e-05
Time:                        17:44:44   Log-Likelihood:                 42.791
No. Observations:                 151   AIC:                            -81.58
Df Residuals:                     149   BIC:                            -75.55
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.3427      0.015     22.636      0.000       0.313       0.373
x1             0.0034      0.001      4.342      0.000       0.002       0.005
==============================================================================
Omnibus:                        6.987   Durbin-Watson:                   1.732
Prob(Omnibus):                  0.030   Jarque-Bera (JB):                3.609
Skew:                           0.129   Prob(JB):                        0.165
Kurtosis:                       2.288   Cond. No.                         19.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""